 #popup {
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.75);
 }
 
 #popup .popup-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 500px;
     padding: 10px;
     background: rgb(55, 47, 73);
 }
 
 .popup-content {
     display: flex;
     row-gap: 20px;
 }
 
 #popup a.close-popup {
     position: absolute;
     top: 20px;
     right: 20px;
     font-size: 20px;
     font-weight: 600;
     text-decoration: none;
 }
 
 #popup:target {
     display: block;
 }
 
 .btn {
     background: none;
     border: none;
     color: inherit;
     font: inherit;
     cursor: pointer;
     padding: 2px 18px;
     outline: 2px solid #6770b7;
     color: white;
 }
 
 .btn:hover {
     outline: 2px solid #8790d9;
 }
 
 .modal-footer {
     display: flex;
     flex-direction: row;
     gap: 10px;
 }
 
 .cont-flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }